<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} My home {% endblock %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
</head>
<body>
    <header>
        <h1>My Website.</h1>
        <nav>
            <ul>
                {% comment %} <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li> {% endcomment %}
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        <!-- Content for individual pages will go here -->
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 My Website. All rights reserved.</p>
    </footer>
</body>
</html>
